.container {
    height: 100%;
    width: 100%;
    background-color: white;
}
.Map {
    height: 100%;
    width: 100%;
    background-color: lightgray;
}

.Button {
    position: absolute;    
    width: 60px;
    height: 60px;
    border-radius: 30px;
    z-index: 99;
    background-color: lightgray;
    display: flex;
    align-items: center;
    justify-content: center;

    &__text {
        color: black;        
        font-size: 45px;
        z-index: 100;
    }
}
